# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# API doc
apidoc

# Logs
logs

/config/sequelize.json
/config/email.json
/config/apidoc.json
/config/log4js.json
